
<nav class="navbar navbar-inverse" style=" padding: 1px;border-bottom:2px solid transparent;
border-image: linear-gradient(to right);
border-image-slice: 1;padding-bottom: 18px;
   padding-top: 18px;">
   <div class="container-fluid">
      <div class="row">
         <div class="col-md-4 col-sm-9">
            <h1><a class="navbar-brand" href="#"><span class="job">Blog website</span></a></h1>
            
            <div class="navbar-header">
               <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>                        
               </button>
            </div>
         </div>
         <div class="col-md-4 col-sm-12"></div>
         <div class="col-md-4 col-sm-12">
         <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
               <li><a href="/" class="textcolor hometext underline-from-center">Home</a></li>
               {% if user.is_authenticated %}
                  <li style="margin-top: 12px;"><span style="margin-right: 10px;color: #fbfbfb;" class="textcolor hometext underline-from-center">User: <a href="" style="color: #fbfbfb;">{{user.username}}</a></span></li>
                  <li><a href="{% url 'logout' %}" class="textcolor hometext underline-from-center">Logout</a></li> 
                
               {% else %}
                  <li><a href="{% url 'signup' %}" class="textcolor hometext underline-from-center">SIGN UP</a></li>
                  <li><a href="{% url 'login' %}" class="textcolor hometext underline-from-center">LOGIN</a></li>
               {% endif %}
            
            </ul>
         </div>
         </div>
   </div>
   </nav>